body {
  background-color: #111;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  padding: 50px;
}

#baslik {
  font-size: 36px;
  color: #00ffcc;
}

#alt-yazi {
  font-size: 20px;
  color: #ccc;
}


